<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">About CarpentryCon</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>What is CarpentryCon?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">CarpentryCon is the key biennial community-building and networking event in
                                    <a href="http://carpentries.org">The Carpentries'</a> calendar of activities. This event brings together newer and more experienced community members to share
                                    knowledge, to network, to develop new skills, and to develop strategies for building
                                    strong local communities.
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>What are The Carpentries?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> <a href="http://carpentries.org">The Carpentries</a> is a fiscally sponsored project of <a href="http://communityin.org">Community
                                    Initiatives</a> teaching foundational computational and data science skills to
                                    researchers.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4_1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>All CarpentryCon conferences</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted">
                                    <li><a href="https://cc2018.carpentrycon.org/">CarpentryCon 2018, Dublin</a></li>
                                    <li><a href="https://cc2020.carpentrycon.org/">CarpentryCon 2020, location to be confirmed</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
