<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conference format</h2>
                    <!--<h3 class="section-subheading text-muted"><em>See the <a href="http://carpentrycon.org/#map">UCD map</a>.</em></h3> -->

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshop and unconference sessions</h4>
                    <p class="text-muted">CarpentryCon typically offers a series of practical, hands-on skill-ups and workshops to teach essential skills around coding, leading projects,
                        community organisation, curriculum development and other professional development 'must-haves'. There are also unconference breakout sessions where
                        delegates actively participate in discussions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Networking events</h4>
                    <p class="text-muted">CarpentryCon hosts a series of social and other events, including a poster reception and a dinner, and other events to foster networking, especially among instructors who might want to share workshop and teaching tips. Attendees will have lots of opportunities to come together informally to share stories about challenges and successes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community building</h4>
                    <p class="text-muted">Member organisations, local champions, Carpentries' advocates, and Core Team will talk about ways to build communities all around the world. Hear from local champions about tried and tested methods for building strong local communities. Pitch your own community building ideas for discussion in CarpentryCon's 'unconference' section.</p>
                </div>        </div>
        </div>
    </section>
